#conteneur{
    border: 2px solid black;
    display: flex;
    flex-direction: row-reverse;
}
.element {
    width: 150px;
    height: 100px;
}
.element:nth-child(1){
    background-color: orange;
}
.element:nth-child(2){
    background-color: blue;
}
.element:nth-child(3){
    background-color: red;
}